<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        @{
            if (@Session["username"] != null)
            {
                <div class="row">
                <label class="col-md-offset-10">Welcome, @Session["username"]!</label>
                <label class="col-md-offset-11">@Html.ActionLink("Logout", "LogOut", "LoginSystem")</label>
            }
            if ((string)Session["authority"] == "admin")
            {
                <label class="col-md-offset-9"> @Html.ActionLink("Register", "Register", "LoginSystem")</label>
            }
        }
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
