@model BugTracker.Models.Bug

@{
    ViewBag.Title = "BugDetails";
}

<h2 class="col-md-offset-5">Bug Details</h2>

<div class="col-md-12 col-md-offset-3">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.progress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.progress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd style="max-width:20%;">
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.solution)
        </dt>

        <dd style="max-width:20%;">
            @Html.DisplayFor(model => model.solution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project)
        </dd>

    </dl>
    <p class="col-md-offset-2">
        @{
            if ((string)Session["authority"] != "admin")
            {
                @Html.ActionLink("Modify", "BugModify", new { id = Model.bugId }, new { @class = "actionlinks" })
            }
        }
       |     @Html.ActionLink("Back to List", "Index", new { }, new { @class = "actionlinks" })
    </p>
</div>

    

